@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dhian Galang Pradana<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:dhiangalang@gmail.com">dhiangalang@gmail.com</a>
</address>