@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Perpustakaan Sederhana</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Selamat datang di Perpustakaan Sederhana</h2>
        <p>
            Silakan login untuk menggunakan fitur-fitur dalam applikasi Perpustakaan Sederhana.
        </p>
    </div>
</div>